{block content}
<link rel="stylesheet" href="../dist/index.css">
<div class="login-container">
    <h1 n:block=title>Přihlášení</h1>

{control signInForm}
</div>
<script src="../dist/index.js">

</script>