{block content}
<link rel="stylesheet" href="../dist/index.css">
<div class="form-container">
    <h1>Nový příspěvek</h1>

    {control postForm}
</div>
<script src="../dist/index.js">

</script>